<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://www.onemonthrails.com" %> 
		Learn 
	<%= link_to	"Ruby on Rails", "http://www.rubyonrail.org" %>
	 	in a month! This the sample application.
</p>